body {
    background-color: black;
    color: #fff;
    font-family: Helvetica Neue,Segoe UI,Roboto;
    margin: 0;
}

.container {
  width: 100%;
  text-align: center;
}

.mt250 {
  margin-top: 250px;
}

#profile-images {
  margin: 0 auto;
  text-align: center;
  display: block ;
  width: 100%;
  height: 250px;
}

#profile-images > a {
  display: inline-block;
}

.profile-image {
  width: 170px;
  height: 170px;
  float: left;
  background: radial-gradient(#177980, #061418);
  margin: 10px;
  border-radius: 5px;
}

.profile-image.hover {
  box-shadow: inset 0px 0px 0px 3px #fff;
}

.profile-image > img {
  width: 100%;
}

.profile-image > em {
  color: grey;
  font-style: normal;
}

.profile-image:hover > em {
  color: #fff;
}

.btn-border {
  border: 1px solid grey;
  color: grey;
  background: transparent;
  outline: none;
  padding: 6px 16px;
  clear: both;
}

.btn-border:hover {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}


/* Style for browse page */
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.trailer-content {
  position:relative;
  bottom: 350px;
  width: 100%;
  padding: 50px;
}

.trailer-content p {
  font-size: 22px;
}

.trailer-content h1, .trailer-content p {
  text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.play-btn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 150px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.play-btn:hover {
  background: #ddd;
  color: black;
}

.movies {
  z-index: 1000;
  position: relative;
  top: -300px;
  padding: 0 50px;
}

.movies-list {
  height: 161px;
  display: inline-flex;
}

.movie {
  width: 250px;
  height: 140px;
  display: inline-block;
  margin-right: 10px;
}

.movie > a > img {
  width: 100%;
}

.movie-progress-bg {
  background: gray;
  height: 3px;
  width: 100%;
}

.movie-progress {
  background: red;
  height: 3px;
  width: 60%;
  position: relative;
  top: -3px;
}

#logo {
  width: 120px;
  margin-right: 20px;
}

#avatar {
  width: 36px;
  float: right;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 94%;
  z-index: 1000;
  padding: 10px 50px;
  background: linear-gradient(180deg, #000000e3, #00000085, #0000008);
}

#menu > a {
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;
  position: relative;
  top: -10px;
}

#popup-container {
  background: #000000ab;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;
  display: none;
  height: 1500px;
}

#popup {
  width: 950px;
  margin: 0 auto;
  background: #1e1e1e;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 2000;
  height: 2000px;
}

#popup > img {
  width: 100%;
}

#close-btn {
  border-radius: 25px;
  height: 35px;
  width: 35px;
  border: none;
  background: #1e1e1e;
  color: #fff;
  padding: 8px;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 20px;
}
