{% extends 'base.html.twig' %}

{% block title %}Hello BrowseController!{% endblock %}

{% block body %}
  <div id="menu">
    <img id="logo" src="netflims.png" />
    <a href="">Accueil</a>
    <a href="">Séries</a>
    <a href="">Films</a>
    <a href="">Nouveautés</a>
    <a href="">Ma liste</a>
    <img id="avatar" src="https://robohash.org/1" />
  </div>

  <div id="trailer">
    <video autoplay muted loop id="myVideo">
      <source src="extrait-bbb.mp4" type="video/mp4">
    </video>

    <div class="trailer-content">
      <h1>Big Buck Bunny</h1>
      <p>Lorem ipsum dolor sit amet lorem<br>
        ipsum dolor sit amet. Lorem ipsum dolor sit amet.<br>
        Lorem ipsum dolor sit.
      </p>
      <a href="" class="play-btn">Lecture</a>
    </div>
  </div>

  <div class="movies">
    <h2>Nouveautés sur Netflims</h2>
    <div class="movies-list">
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb1.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb2.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb3.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb3.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb1.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb2.jpg">
        </a>
      </div>
    </div>
  </div>
  <div class="movies">
    <h2>Nouveautés sur Netflims</h2>
    <div class="movies-list">
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb1.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb2.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb3.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb3.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb1.jpg">
        </a>
      </div>
      <div class="movie">
        <a onClick="showChapters()">
          <img src="bbb2.jpg">
        </a>
      </div>
    </div>
  </div>

  <h2>Ma Liste</h2>
  <div class="movies-list">
    <div class="movie">
      <a href="">
        <img src="bbb2.jpg"/>
      </a>
      <div class="movie-progress-bg"></div>
      <div class="movie-progress"></div>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb3.jpg"/>
      </a>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb1.jpg"/>
      </a>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb2.jpg"/>
      </a>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb3.jpg"/>
      </a>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb1.jpg"/>
      </a>
    </div>
  </div>

  <h2>Notre selection pour vous</h2>
  <div class="movies-list">
    <div class="movie">
      <a href="">
        <img src="bbb2.jpg"/>
      </a>
      <div class="movie-progress-bg"></div>
      <div class="movie-progress"></div>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb3.jpg"/>
      </a>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb1.jpg"/>
      </a>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb1.jpg"/>
      </a>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb2.jpg"/>
      </a>
    </div>
    <div class="movie">
      <a href="">
        <img src="bbb1.jpg"/>
      </a>
    </div>
  </div>

  <div id="popup-container">
    <div id="popup">
      <button id="close-btn" onClick="closeChapters()">X</button>
      <img src="bbb1.jpg"/>

      <!-- chapitre -->
    </div>
  </div>
{% endblock %}
