{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<!-- Navbar -->
<div class="banner" style="margin-bottom:80px; position: relative; filter: contrast(0.8); background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('imgs/main.jpg'); background-size: cover;  background-position: 20% 18%; height:160px ;">
  <div class="container p-5">
    <div class="pages d-flex justify-content-between align-items-center">
      <div class="left-sided-pages d-flex justify-content-between">
        <a href="{{path('app_home')}}" class="text-white text-decoration-none me-5" style="font-family: var(--font-secondary); font-size: 16px;">home</a>
        <a href="{{path('app_about')}}" class="text-white text-decoration-none me-5" style="font-family: var(--font-secondary); font-size: 16px;">about</a>
      </div>
      <div class="logo text-center">
        <a href="{{ path('app_home') }}" class="text-white text-decoration-none" style="font-family: var(--font-primary); font-size: 32px; font-style: italic;">
          yummy notes <span class="by-maya">by maya</span>
        </a>
      </div>
      <div class="right-sided-pages">
        <a href="" class="text-white text-decoration-none ms-5" style="font-family: var(--font-secondary); font-size: 16px;">login</a>
      </div>
    </div>
  </div>
</div>
<!-- introdudction -->
 <div class="container p-5" style="position: relative;">
  <h1 class="mb-3" style="font-family: var(--font-primary); font-size: 32px; font-style: italic;"><strong>About</strong></h1>
  <p style="font-family: var(--font-secondary); font-size: 16px;">
    Nice to meet you ! I’m Maya, the creator of <span style="font-family: var(--font-primary); font-style: italic;">Yummy Notes by Maya</span>.<br>

    I was born in Gwangju, Jeollanam-do, South Korea, and lived there for 20 years. <br>
    My hometown is the region known for its exceptional food culture and amazing sauces that formed the heart of Korean cuisine.<br>
    Growing up surrounded by incredible home-cooked meals from my mother and grandmother,<br>
    I developed a deep love for food and the joy it brings when shared.<br>
    <br>
    My real cooking journey began in France, where I struggled to find authentic Korean food<br>
    and started experimenting in my own kitchen.<br>
    The joy I felt in cooking for others, seeing their smiles, and developing my own recipes inspired me to continue this journey.<br>
    Through Yummy Notes by Maya, I want to make my favorite recipes<br>
    with touch of Korean heart accessible to people all over the world.
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    !!! Every recipe here is designed for more than two people<br>
    because, to me, food is about sharing love and creating moments of connection with others.
  </p>
  <img src="imgs/owner.JPG" alt="my-photo" style="position: absolute; bottom: 50px; right: 50px; width: 300px; height: 300px; border-radius: 100%; object-fit: cover;">
 </div>
{% endblock %}
