{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<section class="p-5">
  <div class="relative overflow-x-auto">
      <table class="w-full">
          <thead>
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Menu
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Time
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Quantity
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Price
                  </th>
              </tr>
          </thead>
          <tbody>
            {% for item in data %}
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                  {{item.menu.name}}
                </td>
                <td class="px-6 py-4">
                  {{item.menu.time}}
                </td>
                <td class="px-6 py-4">
                  {{item.quantity}}
                </td>
                <td class="px-6 py-4">
                  {{item.menu.time}}
                </td>
              </tr>
            {% endfor %}


          </tbody>
      </table>
  </div>

</section>

{% endblock %}
